Airlines RAG Application.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "teja",
          "mode": "list",
          "cachedResultName": "teja"
        },
        "embeddingBatchSize": 300,
        "options": {
          "clearNamespace": false,
          "pineconeNamespace": "teja"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "2c4cf74f-6500-4a97-b0a8-11a69cb658db",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "TVXFzldXQVY2FhBa",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -60,
        280
      ],
      "id": "926328dd-9cb5-455e-93c1-414352b7a10d",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "pizdn2nY3IUsZ7yH",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        180,
        200
      ],
      "id": "9235e058-82a3-4b8a-be95-4f885e2c91f6",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 400,
        "chunkOverlap": 20,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        360,
        400
      ],
      "id": "684425ad-5b60-4c79-ae73-8a1793f17d43",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -220,
        60
      ],
      "id": "fc3d6e31-e070-4536-a701-ad068a4d2797",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "h2pgu3IccULaOrWW",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        680,
        280
      ],
      "id": "0cdf59e9-7c80-4493-883d-f0c62a1d9949",
      "name": "When chat message received",
      "webhookId": "dbe98744-da99-414b-b1a3-6b8f3c668a7b"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={\n  \"prompt\": \"The user asked about flight bookings. Please answer based on airline data.\\n\\nQuery: {{ $json.chatInput }}\"\n}\n",
        "options": {
          "systemMessage": "You are a LLM in a RAG application"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        880,
        20
      ],
      "id": "55023a92-ece0-4365-8a42-a48b89d1a2e0",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "out_events",
        "toolDescription": "=Retrieve the relevanlt documents and gives to ai agent",
        "pineconeIndex": {
          "__rl": true,
          "value": "teja",
          "mode": "list",
          "cachedResultName": "teja"
        },
        "topK": 50,
        "options": {
          "pineconeNamespace": "rag_project-2"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.1,
      "position": [
        1200,
        260
      ],
      "id": "e37fb321-aa6c-49a5-82a4-4707a5a04d9a",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "TVXFzldXQVY2FhBa",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1000,
        440
      ],
      "id": "78e2669a-a8a8-47d7-b09b-5ed4c4a480f9",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "pizdn2nY3IUsZ7yH",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1380,
        500
      ],
      "id": "28dd7914-20a3-491d-8640-525706fd1dae",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "pizdn2nY3IUsZ7yH",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "59f5d68c-9d90-44bb-8304-26110f40e792",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "beef3c3e85420029fdf723c569ab3a6c0744de368052ba9cf6727c36270d5170"
  },
  "id": "vHnO1RdtizhLXndl",
  "tags": []
}